@{
    @model Phone
}

    <form asp-controller="Home" asp-action="Index" method="post">
        <div class="container text-center">
            <div class="row">
                <div class="col pt-2">
                    <span>Name</span><br /><input type="text" id="txtName" asp-for="Name" />
                </div>
            </div>
            <div class="row">
                <div class="col pt-2">
                    <span>Surname</span><br /><input type="text" id="txtSurname" asp-for="Surname" />
                </div>
            </div>
            <div class="row">
                <div class="col pt-2">
                    <span>Phone Number</span><br /><input type="text" id="txtPhoneNumber" asp-for="PhoneNumber" />
                </div>
            </div>
            <div class="row">
                <div class="col pt-2">
                    <span>E-Mail</span><br /><input type="text" id="txtEmail" asp-for="Email" />
                </div>
            </div>
            <div class="row">
                <div class="col pt-2">
                    <input type="submit" id="btnSave" value="Kaydet" class="btn btn-primary" />
                </div>
            </div>
        </div>
        @ViewBag.Name
        @ViewBag.Surname
        @ViewBag.Phone
        @ViewBag.Email
    </form>
   